* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background: linear-gradient(45deg, #000428, #004e92);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    background: rgba(255,255,255,0.05);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); /* Higher priority */
}
h1 {
    font-weight: 700;
}
#fileInput, #processButton {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}
#fileInput {
    margin-bottom: 15px;
}
#processButton {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}
#fileInput:hover, #processButton:hover {
    background-color: rgba(255,255,255,0.3); /* Higher priority */
    transform: scale(1.05);
}
#status {
    margin-top: 20px;
}
.progress {
    background-color: rgba(255,255,255,0.1);
    border-radius: 50px;
    height: 20px;
    margin-top: 20px;
}
.progress-bar {
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50px;
    transition: width 0.5s ease;
}
.loadingThumbnailBox {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.05);
    transition: height 0.3s ease;
    overflow: hidden;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.discWrapper {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 5s infinite;
}
#loadingWebP, #loadingWebP2, #videoThumbnail {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    width: 300px;
    height: 169px;
}
#loadingWebP {
    z-index: 3;
}
.processing #loadingWebP {
    animation: spin 2s linear infinite;
}
#loadingWebP2 {
    z-index: 4;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    opacity: 0; /* Default state */
}
.processing #loadingWebP2 {
    opacity: 1;
}
#videoThumbnail {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: absolute;
}
#blurayDisc, #blurayDiscBlurred {
    filter: drop-shadow(0 0 15px #58a);
    transition: filter 0.5s ease-in-out;
    animation: spin 5s linear infinite;
    opacity: 1;
}
.processing #blurayDisc {
    animation: spin 0.3s linear infinite;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.5s;
}
#blurayDiscBlurred {
    opacity: 0;
    filter: drop-shadow(0 0 25px #5f5);
}
.processing #blurayDiscBlurred {
    opacity: 1;
    animation: spin 0.3s linear infinite;
    z-index: 1;
}
